/* remove default margins and padding */
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #4912f6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  letter-spacing: 0.04rem;
  margin: 0;
  padding: 0;
}

/* colors */
.color-white {
  color: #ffffff;
}

.color-gray {
  color: #c9b8fc;
}

.color-lt-gray {
  color: #ccd0fd;
}

/* flex options */
.flex-div {
  display: flex;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-center-content {
  align-items: center;
  justify-content: center;
}

.flex-column-wrap {
  flex-flow: column wrap;
}

.flex-column-nowrap {
  flex-flow: column nowrap;
}

.flex-row-wrap {
  flex-flow: row wrap;
}

.flex-row-nowrap {
  flex-flow: row nowrap;
}

/* widths options */
.max-width-50vw {
  max-width: 50vw;
}

.max-width-100vw {
  max-width: 100vw;
}

.max-width-fit-content {
  max-width: fit-content;
}

/* display options */
.inline-block {
  display: inline-block;
}

/* main container */
#main-container {
  display: flex;
  justify-content: center;
  height: fit-content;
  min-height: 100vh;
  padding: 16px;
  width: 95vw;
  min-width: fit-content;
}

/* middle container */

.middle-column-1,
.middle-column-2 {
  max-width: 400px;
}

.middle-column-1 {
  margin-right: 64px;
}

#middle-container-1 {
  padding-top: 200px;
  justify-content: center;
}

.middle-column-text-padding {
  padding-top: 32px;
}

/* logo */
#logo-div {
  padding-left: 3%;
}

/* nav bar items */
#nav-buttons {
  padding-right: 16%;
}

#sign-in-button {
  background-color: transparent;
  border: transparent;
  border-radius: 24px;
  margin-right: 8px;
  padding-left: 24px;
  padding-right: 24px;
}

#sign-in-button:hover {
  background-color: #1b075f;
}

/* free trial buttons */
#free-trial-button-1 {
  padding-left: 24px;
  padding-right: 24px;
}

#free-trial-button-2 {
  margin-top: 24px;
  padding: 12px 48px;
}

.free-trial-button {
  background: linear-gradient(90deg,
      rgba(234, 158, 61, 1) 0%,
      rgba(238, 124, 56, 1) 100%);
  border: transparent;
  border-radius: 32px;
  max-width: fit-content;
}

.free-trial-button:hover {
  background: linear-gradient(90deg, rgb(255, 145, 0) 0%, rgb(255, 94, 0) 100%);
}

/* text options */
#title-text-1 {
  font-size: larger;
  padding-bottom: 4px;
}

#title-text-2 {
  font-size: x-large;
  padding-bottom: 16px;
}

#description-text {
  font-size: small;
  padding-bottom: 12px;
}

#featured-in-text {
  font-size: 0.5rem;
  padding-bottom: 4px;
}

#see-the-science-text {
  font-size: 0.8rem;
  margin-bottom: 64px;
}

.text-size-lower-paragraphs {
  font-size: small;
}

/* image options */
#clout-image {
  max-width: 256px;
}

#img-person-at-computer {
  bottom: 80px;
  display: inline-block;
  max-height: 100%;
  position: relative;
  width: 512px;
  max-width: 48vw;
}

#img-brain-wave {
  display: inline-block;
  max-height: fit-content;
  width: 312px;
  max-width: 48vw;
}

#img-phase-locking-value {
  display: inline-block;
  max-height: fit-content;
  width: 312px;
  max-width: 48vw;
}